@media screen and (max-width: 760px) {
  header .call-us-btn,
  .navigation-header .call-us-btn {
    float: left;
  }
 .btn-nav {
    display: block;
    cursor: pointer;
  }
  header .menu-bar,
  .navigation-header .menu-bar {
    position: absolute;
    top: 69px;
    right: 20px;
    width: 150px;
    border: 1px solid #36aeea;
    background: rgba(149,165,173,0.7);
  }
  header .menu,
  .navigation-header .menu {
    padding: 0;
  }
  header .menu li,
  .navigation-header .menu li {
    display: block;
    margin: 0 0 10px;
    padding: 0;
  }
  header .menu li a,
  .navigation-header .menu li a {
    display: inline;
    padding: 5px;
    margin: 5px;
    border-bottom: none;
    text-decoration: none;
    color: #fff;
  }
  header .menu li:hover a,
  .navigation-header .menu li:hover a {
    border-bottom: none;
    color: #36aeea;
  }

  .gallery-photo {
    width: 49%;
  }

}
@media screen and (max-width: 600px) {
  .social-icon.slack-icon, 
  .social-icon.google-icon,
  .social-icon.facebook-icon,
  .social-icon.spotify-icon,
  .social-icon.adobe-icon,
  .social-icon.nike-icon {
    width: 33%;
    padding-bottom: 20px;
  }
  .social-icon img {
    width: 40px;
  }
  .client-quote {
    width: 100%;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
 .gallery-photo {
    width: 100%;
  }
  
}